{
  "extends": ["airbnb","prettier"],
  "rules": {
    "semi": ["error","never"],
    "import/newline-after-import": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
